<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llvvlv00.mybatis.mapper.EmpMapper">
    <resultMap id="empResultMap" type="com.llvvlv00.mybatis.pojo.Emp">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <select id="getEmpByEmpId" resultMap="empResultMap">
        select * from t_emp where emp_id = #{empId}
    </select>

    <select id="getEmpByEmpIdOld" resultType="com.llvvlv00.mybatis.pojo.Emp">
        select * from t_emp where emp_id = #{empId}
    </select>

    <resultMap id="empAndDeptResultMapOne" type="com.llvvlv00.mybatis.pojo.Emp">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="dept_id" property="dept.deptId"/>
        <result column="dept_name" property="dept.deptName"/>
    </resultMap>

    <resultMap id="empAndDeptResultMap" type="com.llvvlv00.mybatis.pojo.Emp">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>

        <association property="dept" javaType="com.llvvlv00.mybatis.pojo.Dept">
            <id column="dept_id" property="deptId"/>
            <result column="dept_name" property="deptName"/>
        </association>
    </resultMap>
<!--    Emp getEmpAndDept(@Param("empId") Integer empId);-->
    <select id="getEmpAndDept" resultMap="empAndDeptResultMap">
        select t_emp.*, t_dept.*
        from t_emp
            left join t_dept
                on t_emp.dept_id = t_dept.dept_id
        where t_emp.emp_id = #{empId}
    </select>

    <resultMap id="empAndDeptByStepResultMap" type="com.llvvlv00.mybatis.pojo.Emp">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <association property="dept"
                     select="com.llvvlv00.mybatis.mapper.DeptMapper.getEmpAndDeptByStepTwo"
                     column="dept_id"
                     fetchType="lazy">

        </association>
    </resultMap>
    <select id="getEmpAndDeptByStepOne" resultMap="empAndDeptByStepResultMap">
        select * from t_emp where emp_id =#{empId}
    </select>
    <select id="getDeptAndEmpByStepTwo" resultType="com.llvvlv00.mybatis.pojo.Emp">
        select * from t_emp where dept_id =#{deptId}
    </select>
</mapper>
