<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.llvvlv00.mybatis.mapper.DynamicSQLMapper">
    <sql id="empColumns">
        emp_id, emp_name, age, gender, dept_id
    </sql>
    <!--void insertMoreEmp(List<Emp> emps);-->
    <insert id="insertMoreEmp">
        insert into t_emp values
        <foreach collection="emps" item="emp" separator=",">
            (null, #{emp.empName}, #{emp.age}, #{emp.gender}, #{emp.deptId})
        </foreach>
    </insert>
    <delete id="deleteMoreEmpOne">
        delete from t_emp where emp_id in
                <foreach collection="empIds" item="empId" separator="," open="(" close=")">
                    #{empId}
                </foreach>
    </delete>

    <delete id="deleteMoreEmp">
        delete from t_emp where
        <foreach collection="empIds" item="empId" separator="or">
            emp_id = #{empId}
        </foreach>
    </delete>

    <!--List<Emp> getEmpByCondition(Emp emp);-->
    <select id="getEmpByConditionOne" resultType="com.llvvlv00.mybatis.pojo.Emp">
    select <include refid="empColumns" /> from t_emp where 1=1
        <if test="empName != null and empName != ''" >
            emp_name = #{empName}
        </if>
        <if test="age != null and age !=''">
            and age = #{age}
        </if>
        <if test="gender != null and gender !=''">
            and gender = #{gender}
        </if>
    </select>

    <select id="getEmpByConditionTwo" resultType="com.llvvlv00.mybatis.pojo.Emp">
        select * from t_emp
        <where>
            <if test="empName != null and empName != ''" >
                emp_name = #{empName}
            </if>
            <if test="age != null and age !=''">
                and age = #{age}
            </if>
            <if test="gender != null and gender !=''">
                and gender = #{gender}
            </if>
        </where>
    </select>

    <select id="getEmpByCondition" resultType="com.llvvlv00.mybatis.pojo.Emp">
        select * from t_emp
        <!--
           trim
           prefix, suffix: 在标签中内容前面或后面添加指定内容
           prefixOverrides, suffixOverrides: 在标签中内容前面或后面去掉指定内容
        -->
        <trim prefix="where" suffixOverrides="and">
            <if test="empName != null and empName != ''" >
                emp_name = #{empName} and
            </if>
            <if test="age != null and age !=''">
                 age = #{age} and
            </if>
            <if test="gender != null and gender !=''">
                 gender = #{gender}
            </if>
        </trim>
    </select>

    <!--List<Emp> getEmpByChoose(Emp emp);-->
    <select id="getEmpByChoose" resultType="com.llvvlv00.mybatis.pojo.Emp">
        select * from t_emp
        <where>
            <choose>
                <when test="empName != null and empName!=''">
                    emp_name = #{empName}
                </when>
                <when test="age!=null and age!=''">
                    age = #{age}
                </when>
                <when test="gender!=null and gender!=''">
                    gender = #{gender}
                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </where>
    </select>



</mapper>
